body{
    background-color: rgb(204, 47, 204)
}

h1{
    text-align: center;
    background-color: white
}

img{
    height: 20%;
    width: 20%;
}

div{
    background-image: url(img/descargar.jfif);
    text-align: center;
}

figcaption{
    text-align: center;
    font-size: 20px;
    background-color: brown;
}

h2{
    text-align: center;
    color: white;
}

ul{
    background-color: rgb(196, 165, 29);
    font-size: 14px;
    border: solid 3px rgb(1, 20, 1);
    margin: auto;
    list-style-type: circle;
    width: 15%;
    margin-bottom: 2%;
    
}

ol{
    list-style-type: lower-roman;
    font-weight: bold;
    color: blueviolet;
}

#blanco{
    color: white;
    border: none;
    margin: 0%;
}

#tinto{
    color: rgb(100, 12, 36);
}

#num{
    list-style-type: decimal;
    color: black;
    font-weight: normal;
    
}

#cuadra{
    list-style-type: square;
    border: none;
    margin: 0%;
}

#aceiton{
    border: none;
    text-decoration: underline;
    list-style-type: disc;
    margin: 0%;
}

#texto{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: none;
    background-color: rgb(250, 160, 43);
    border: 15px double red;
}

#textoOL{
    list-style-type: decimal;
    text-align: justify;
}

#opi{
    text-decoration: underline;
}

p{
    background-color: tomato;
    color: blueviolet;
    font-weight: bold;
    text-align: center;
}

.p1{
    background-color: cadetblue;
    color: brown;
}